body {
    main{
       .h1{
               margin-left: 2%;
               margin-right: 2%;
       }
       .text-index2 {
           margin-left: 8%;
           margin-right: 8%;
           font-style: italic;
       }
       .container {
           padding-bottom: 2%;
       }
       
       .foto-galeria {
           width: 100%;
           border-radius: 5%;
       }    
    }
   }