/* 7aa07a oscuro
a3d1a2 medio
dbeddc claro*
font-family: 'Alegreya', serif;*/

*{
    font-family: 'Alegreya', serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@import '../scss/index.scss';
@import '../scss/contacto.scss';
@import '../scss/galeria';
@import '../scss/instalaciones';
@import '../scss/somos';